@media (max-width: 1440px) {
    .logo{
        padding: 0 15px;
    }
    .equipment p,h2,h3,h4,ul{
        padding: 0 20px;
    }
}

@media (max-width: 1180px) {
    .terms-content{
        gap: 150px;
    }
    .equipment h3{
        font-size: 30px;
    }
    .equipment p{
        font-size: 19px;
    }
    .equipment h4{
        font-size: 23px;
    }
    .sterilization h3{
        font-size: 30px;
    }
    .sterilization p{
        font-size: 19px;
    }
    .sterilization h2{
        font-size: 22px;
    }
    .warning h2{
        font-size: 32px;
    }
    .warning p{
        font-size: 22px;
    }
}
@media (max-width: 980px) {
    .logo{
        font-size: 30px;
    }
    .nav-content__list-links{
        font-size: 16px;
    }
    .nav-content__list{
        gap: 20px;
    }
    .footer-content__list-links{
        font-size: 18px;
    }
    .footer-social span{
        font-size: 16px;
    }
    .footer-social h4{
        font-size: 25px;
    }
    .footer-btn{
        font-size: 16px;
    }
    .social-networks a{
        font-size: 30px;
    }
    .footer-social p{
        font-size: 16px;
    }
    .footer-working__mode{
        font-size: 16px;
    } 
    .terms-content-980px{
        justify-content: center;
        gap: 50px;
    }
    .terms-content-980px h4{
        font-size: 20px;
    }
    .sterilization h2{
        line-height: 40px;
    }
    .equipment-lists{
        line-height: 40px;
    }
    .equipment p{
        line-height: 40px;
    }
    .terms-content{
        display: none;
    }
    .terms-content-980px{
        display: flex;
    }
}
@media (max-width: 750px) {
    .nav-content__list {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 100;
        gap: 60px;
        background: #cdb67b;
        transition: 800ms;
        list-style: none;   
    }
    .nav-content__list-links{
        font-size: 30px;
    }
    .burger{
        display: block;
        color: white;
        font-size: 40px;
        position: absolute;
        right: 5%;
        z-index: 999;
    }
    .burger:hover ~ .nav-content__list{
        left: 0;
    }
    .footer-list{
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    .terms{
        display: none;
    }
    .equipment{
        margin-top: 100px;
    }
}
@media (max-width: 500px) {
    .logo{
        font-size: 20px;
    }
}